@font-face {
  font-family: "arno-pro", serif;
  font-weight: 400;
  font-style: normal;
  font-display: optional;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /*   COLORS   */
  --main-color: #f41a18;
  --black-color: #101010;
  --white-color: #f0f0f0;

  /*   FONT SIZE   */
  --link: 0.95rem;
  --small-text: 0.875rem;
  /*   SPACING   */
  --space: 1.5rem;
}

html {
  height: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-size: var(--small-text);
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  background-color: var(--white-color);
  color: var(--black-color);
  font-family: arno-pro, serif;
}

/*  FONT STYLE  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1 {
  visibility: hidden;
  opacity: 0;
  font-size: 0;
}

h2 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--main-color);
}

/* GLOBAL */
.relative {
  position: relative;
}

.fixed {
  position: fixed;
}

.full-height {
  height: 100svh;
  width: 100%;
}

.full-col {
  width: 100%;
}

.col-50 {
  width: 50vw;
}

.horizontal-margin-auto {
  margin-left: auto;
  margin-right: auto;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}

.align-items-end {
  align-items: flex-end;
}

.justify-content-btw {
  justify-content: space-between;
}

.grid-col-3 {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: calc(var(--space)*4);
  grid-row-gap: calc(var(--space)*4);
}

.grid-col-2 {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: auto;
  gap: calc(var(--space)* 4.5);
  grid-auto-flow: row;
  justify-content: space-between;
}


.grid-col-2-layout-3 {
  display: grid;
  grid-template-columns: 0.35fr 1fr;
  grid-template-rows: auto;
  gap: calc(var(--space)* 4.5);
  grid-auto-flow: row;
  justify-content: space-between;
}

.flex-col-layout-3 {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  gap: calc(var(--space)* 1);
}

.small-space {
  padding: var(--space);
}

.medium-space-projects {
  margin: calc(var(--space) * 2) var(--space);
}

.absolute-text {
  margin: calc(var(--space) * 2) 0;
}

.absolute-text-projects {
  position: absolute;
  top: var(--space);
}

.medium-gap {
  gap: calc(var(--space) * 4.5);
}

.medium-gap-row {
  gap: calc(var(--space) * 4.5);
}


.col-projects {
  width: 65ch;
}

.small-gap {
  gap: 3.2vh;
}

.small-gap-footer {
  gap: calc(var(--space) * 2);
}

.no-padding {
  padding: 0;
}

.delete-margin {
  font-size: 0;
  margin-left: 0;
  list-style: none;
}

.fit-content {
  height: fit-content;
}

.full-max-height {
  max-height: 100svh;
  width: 100%;
}

.large-img-layout-3 {
  height: 45vw;
  width: auto;
  margin-left: auto;
  margin-right: calc(var(--space)* 3);
}

img {
  max-inline-size: 100%;
}

.img-projects {
  max-height: calc(60vw - var(--space)* 2.4);
  height: calc(100vh - var(--space)* 2.4);
  margin-left: auto;
}

video {
  width: 100%;
  height: 100%;
  clip-path: inset(10px 10px);
}

.video-projects {
  clip-path: unset;
  max-height: 100svh;
}

.aspect-ratio {
  aspect-ratio: 16/9;
  clip-path: inset (10px 10px);
}

.active {
  color: var(--main-color);
}

.inactive {
  color: inherit;
}

.mix-blend {
  mix-blend-mode: difference;
  color: var(--white-color);
}

.mix-blend-image {
  mix-blend-mode: difference;
  filter: invert(1);
}

/* HEADER */
header {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  z-index: 9;
  padding: var(--space);
}

header.mix-blend {
  mix-blend-mode: difference;
}

nav {
  width: 100%;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

li {
  list-style: none;
}

nav ul li a {
  font-size: var(--link);
}

a.absolute-left {
  font-size: var(--link);
  position: fixed;
  top: var(--space);
  left: var(--space);
  z-index: 9;
}

a.absolute-left:hover {
  color: var(--main-color);
}

a.absolute-center {
  font-size: var(--link);
  position: fixed;
  top: var(--space);
  left: 50%;
  transform: translateX(-50%);
  z-index: 9;
}

a.absolute-center:hover {
  color: var(--main-color);
}

a.absolute-right {
  font-size: var(--link);
  position: fixed;
  top: var(--space);
  right: var(--space);
  z-index: 9;
}

a.absolute-right:hover {
  color: var(--main-color);
}

.logo-text {
  width: 5ch;
}

.full-height-video {
  height: 85svh;
}

.video-container {
  position: relative;
}

.video-wrapper {
  height: 100%;
  width: 100%;
  position: relative;
  display: inline-block;
}

.custom-controls {
  position: absolute;
  bottom: var(--space);
  right: var(--space);
  display: flex;
  gap: var(--space);
  mix-blend-mode: difference;
  z-index: 999;
}

.custom-controls button {
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: var(--small-text);
  font-family: arno-pro, serif;
}

#aboutImg {
  width: 76ch;
  margin-left: 12vw;
  margin-top: 6vw;
}

.flex-col.about {
  width: 55ch;
  margin-left: 7vw;
  margin-top: 9vw;
  margin-right: 8vw;
}

footer {
  width: 100%;
  position: fixed;
  top: auto;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  padding: var(--space);
  font-size: var(--small-text);
}

@media screen and (max-width: 991px) {
  :root {
    --larger-link: 4vh;
    --link: 0.875rem;
    --small-text: 0.875rem;
  }

  header {
    position: relative;
  }

  .larger-font {
    font-size: var(--larger-link);
  }

  a.absolute-center {
    font-size: var(--larger-link);
    line-height: 1;
  }

  .top-right-header-mobile {
    width: fit-content;
    display: flex;
    flex-direction: column;
  }

  .full-height-video {
    height: 52svh;
  }

  .flex-col.about {
    width: 68.5ch;
    margin: 0 auto;
  }

  #aboutImg {
    width: 36ch;
    margin-left: 12.5ch;
    margin-top: 4vh;
  }

  .medium-gap-row {
    justify-content: space-between;
  }

  .grid-col-3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .grid-col-2-layout-3 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: calc(var(--space));
    grid-auto-flow: row;
    justify-content: space-between;
  }

  .flex-col-layout-3 {
    display: grid;
    flex-direction: column;
    margin-top: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: calc(var(--space)* 1);
    margin-top: var(--space);
  }

  .large-img-layout-3 {
    height: auto;
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .first-child {
    padding-top: calc(var(--space) * 2); 
}
}

@media screen and (max-width: 800px) {

  .flex.justify-content-btw.medium-space-projects.medium-gap {
    flex-direction: column;
  }

  .medium-gap,
  .medium-gap-row {
    gap: calc(var(--space)* 2);
  }

  .img-projects {
    width: 100%;
    height: 100%;
    max-height: 100%;
  }

  .grid-col-2 {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: calc(var(--space)* 1);
  }


  .medium-gap,
  .medium-gap-row {
    gap: calc(var(--space)* 1);
  }
}

@media screen and (max-width: 600px) {
  .grid-col-3 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: calc(var(--space)*2);
    grid-row-gap: calc(var(--space)*2);
  }
}

@media screen and (max-width: 568px) {
  :root {
    /*   FONT SIZE   */
    --link: 2.8vw;
    --small-text: 2.8vw;
  }

  a.absolute-center {
    line-height: 3.4vh;
  }

  .full-height-video {
    height: 55svh;
  }

  .flex-col.about {
    width: 63ch;
  }

  #aboutImg {
    width: 46svw;
    margin-left: 15.5vw;
  }

  .small-gap {
    gap: 2vh;
  }

  .flex-col-layout-3 {
    grid-template-columns: auto;
  }

  .first-child {
    padding-top: calc(var(--space) * 4); 
}
}

@media screen and (max-width: 440px) {
  :root {
    /*   SPACE   */
    --space: 2vh;
  }

  header {
    padding: calc(var(--space) * 1.5) var(--space);
  }

  a.absolute-center {
    line-height: 5.2vh;
  }
}


.active-video-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100dvh;
  z-index: 9999;
  background-color: var(--black-color);
}

.custom-controls.active {
  position: fixed;
  z-index: 999999;
  /* Additional styles when video is active */
}